.slider_content {
    height: 450px;
    background-image: url("../../assets/img/veggie_slider.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slide_content_1 {
    height: 450px;
}

.carousel-inner {
    height: 450px;
}