.menu_container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    height: 40px;
    bottom: 15px;
    background-color: white;
    border: solid 1px;
    padding: 5px;
    border-radius: 60px;
    left: 10px;
}

.favorite {
    color: #ffab00
}


/* BACKGROUND TRANSITIONS */
/* Fade */
.menu_icon_fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    color: black;
}
.menu_icon_fade:hover, .menu_icon_fade:focus, .menu_icon_fade:active {
  background-color: green;
  border-radius: 20px;
  height: 30px;
  color: white;
}

/** Animation for menu **/ 
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease; 
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 500ms ease; 
}
