.best_seller_container {
    display: flex;
    margin-left: 25px;
}

.best_seller_ad {
    width: 26%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    margin: 15px; 
}

.best_seller_ad > div {
    position: absolute;
    bottom: 10%;
    left: 8%; 
}

.ad_slogan {
    font-size: 2rem;
    line-height: 2.2rem;
}

@media only screen and (max-width: 600px) {
    .best_seller_listing {
        margin-left: 6%;
        margin-right: 6%;
    }
}

@media only screen and (max-width: 1000px) {
    .best_seller_container {
        display: block;
    } 

    .best_seller_ad {
        width: 100%;
        margin: 0 auto;
        left: 0;
        width: 412px; 
        height: 500px;
    }
} 


