.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  flex: 1;
}

.caret_dropdown {
  margin-left: 1.2em;
  margin-top: 0.3em;
  cursor: pointer;
}

.spacer {
  display: flex; 
  margin-right: 4rem;
}

.navbar_navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar_navigation-items li {
  padding: 0 1rem;
}

.navbar_navigation-items a {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  color: green;
}

/** Customer Support Section **/ 
.customer_support_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 160px;
}

.customer_support_details {
  font-size: 13px;
}

/** Menu dropdown **/ 
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/** Mobile Navbar Container **/ 
.mobile_container {
  display: none;
  /* display: flex;  */
  justify-content: space-between;
  flex: 1; 
  padding: 1rem 1rem 1rem 1rem;
}

.mobile_nav_icon {
  margin-top: 20px;
  font-size: 40px;
  cursor: pointer;
}

.slidebar {
  position: fixed;
  width: 380px; 
  height: 100%;
  z-index: 200;
  overflow: auto;
}

/** Mobile Navbar Animations **/ 
.slide-enter {
  transform: translate(-100%);
  -webkit-transform: translateX(-100%); 
}

.slide-enter.slide-enter-active {
  transform: translate(0%);
  -webkit-transform: translateX(0%); 
  transition: transform 500ms ease-in-out;
}

.slide-leave {
  transform: translateX(0%);
  -webkit-transform: translateX(0%); 
}

.slide-leave.slide-leave-active {
  transform: translate(-100%);
  -webkit-transform: translateX(-100%); 
  transition: transform 500ms ease-in-out;
}

@media screen and (max-width: 920px) {
  .navbar_toggle {
    display: none;
  }
  .mobile_container {
    display: flex;
  }
}

/* If screen size is more than 920px wide, set the sidebar to none */
@media screen and (min-width: 920px) {
  .slidebar {
    display: none;
  }
}
