
.admin_container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.admin_container > a, .admin_container > p{
    padding-right: 10px;
}

.admin_container  button {
    margin-top: -5px;
}

.item_counts {
    margin-top: 3px;
    width: 18;
    height: 18;
    background: #e6e6e6;
    color: #222222;
    border-radius: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12;
    display: inline-block;
}