.product_title {
    text-align: center;
    width: 100%;
    margin-top: 20px;
    line-height: 20px;
}

.product_tabs_container {
    display: flex; 
    justify-content: center;
    margin-top: 2rem;
}

.product_tabs {
  border: none;
  background-color: inherit;
  padding: 5px 25px;
  font-size: 16px;
  cursor: pointer;
}

.product_tabs:hover {
    border-radius: 40px;
    border-style: solid;
    border-width: 1px;
    border-color: green;
}