.products_container {
    padding: 0 40px; 
    margin-top: 40px;
    max-width: 70rem;
    margin: 0 auto;
}

.price_tag {
    color: green; 
    font-size: medium;
    font-weight: 600;
}

.availability_tag {
    color: brown;
    font-size: 12;
    font-weight: 300;
}

.product_thumb_div {
    position: relative;
    display: inline-block;
}

.product_thumb_icons {
    position: absolute;
    right: 4%;
    top: 2%;
}

.seller_info {
    color: #007BFF;
    cursor: pointer;
    padding: 3px;
}

.seller_info:hover {
    text-decoration: underline;
}