.footer_container {
    display: flex;
    justify-content: space-around;
    flex-flow: row; 
    flex-wrap: wrap; 
}

.footer_container > div {
    padding: 30px;
}

.info_container > ul {
    list-style-type: none;
    padding: 0px; 
}

.info_container a {
    color: green;
}

.copyright_container {
    width: 100%; 
    height: 50px;
    background-color: green;
}

.copyright_container > p {
    text-align: center;
    color: white;
    padding-top: 10px;
}