.ad_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ad_container > div {
    background-position: center;
    background-repeat: no-repeat;
    width: 40%;
    margin: 50px;
    height: 250px;
    position: relative; 
}

.ad_container p {
    position: absolute;
    left: 10%;
    font-size: 1.5rem;
    top: 30%;
}

.ad_container a {
    text-decoration: none;
    color: green;
}

.ad_container a:hover {
    color:#094207;
}

/** Change the width of the ad to 100% when browser window is 600px wide or less */ 
@media only screen and (max-width: 1041px) {
    .ad_container > div {
        width: 100%;
    }
}