.full_width_ad_container {
   display: flex;
   flex-wrap: wrap;
}

.full_width_ad_container > div {
    background-image: url("../../assets/img/advertisements/banner3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: relative; 
}

.promotion_detail {
    position: absolute;
    left: 5%;
    font-size: 1.5rem;
    top: 20%;
}
