a, .header5 {
    font-family: "Work Sans", sans-serif; 
}

.header5 {
    font-size: 1.2em;
    color: white; 
    font-weight: 600;
}

.shop_now_btn{
    color: green; 
}

.show_more_btn {
    color: black;
    display: flex;
    flex-direction: row;
}

.show_more_btn:hover {
    text-decoration: none;
    color: darkgreen;
} 

.contact_info {
    line-height: 3em;
    text-align: center;
}

/** An a tag emulation css, but does 
  * not require href 
  **/ 
.a_tag {
    color: green; 
    cursor: pointer; 
}

.a_tag:hover {
    text-decoration: underline;
    color: green;
}