/* Coolors Exported Palette - https://coolors.co/098a49-2eb18f-1b9d6c-ffffff-717171 */

/* CSS */
--spanish-green: hsla(150, 93%, 54%, 1);
--jungle-green: hsla(164, 74%, 69%, 1);
--green-ncs: hsla(157, 83%, 62%, 1);
--white: hsla(0, 0%, 100%, 1);
--nickel: hsla(0, 0%, 44%, 1);

/* SCSS HEX */
$spanish-green: #098A49ff;
$jungle-green: #2EB18Fff;
$green-ncs: #1B9D6Cff;
$white: #FFFFFFff;
$nickel: #717171ff;

/* SCSS HSL */
$spanish-green: hsla(150, 93%, 54%, 1);
$jungle-green: hsla(164, 74%, 69%, 1);
$green-ncs: hsla(157, 83%, 62%, 1);
$white: hsla(0, 0%, 100%, 1);
$nickel: hsla(0, 0%, 44%, 1);

/* SCSS RGB */
$spanish-green: rgba(9, 138, 73, 1);
$jungle-green: rgba(46, 177, 143, 1);
$green-ncs: rgba(27, 157, 108, 1);
$white: rgba(255, 255, 255, 1);
$nickel: rgba(113, 113, 113, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-right: linear-gradient(90deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-bottom: linear-gradient(180deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-left: linear-gradient(270deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-top-right: linear-gradient(45deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-bottom-right: linear-gradient(135deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-top-left: linear-gradient(225deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-bottom-left: linear-gradient(315deg, #098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);
$gradient-radial: radial-gradient(#098A49ff, #2EB18Fff, #1B9D6Cff, #FFFFFFff, #717171ff);