.header_container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.subtitle {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-style: italic;
}

.title {
    font-size: 2.5rem;
    line-height: normal;
    font-weight: 600;
}