.value_title {
    font-size: 30px;
    font-weight: 600;
}
.values_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.values_icon {
    margin-top: 4px;
    font-size: 36px;
}
.value_unit {
    padding: 30px;
    width: 280px;
}